{% extends "base.html" %} {% block content %}
<main>
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Deal</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item title</th>
                        <th scope="col">Price</th>
                        <!-- <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th> -->
                        <th scope="col">Bidder</th>
                    </tr>
                </thead>
                <td>
                    {{ bid_id }}
                    <!-- Display the bid's id -->
                </td>
                <td>
                    {{ item_title }}
                    <!-- Display the product's title -->
                </td>
                <td>
                    {{ item_price }}
                    <!-- Display the bid's amount -->
                </td>
                <td>
                    {{ bidder_username }}
                    <!-- Display the bidder's username -->
                    <a
                        style="color: red"
                        href="{% url 'core:remove-from-cart' item_slug %}"
                    >
                        <i class="fas fa-trash float-right"></i>
                    </a>
                </td>

                <tr>
                    <td colspan="5">
                        <a
                            class="btn btn-warning float-right ml-2"
                            href="{% url 'core:send-notifications' %}"
                            >Notice bidder</a
                        >
                        <!--                TODO:IF go back, deal will be delete-->
                        <a class="btn btn-primary float-right" href="/"
                            >Go back</a
                        >
                    </td>
                </tr>
                <!-- 
                <tbody>
                    {% for order_item in object.items.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_item.item.title }}</td>
                        <td>{{ order_item.item.price }}</td>
                        <td>
                            <a
                                href="{% url 'core:remove-single-item-from-cart' order_item.item.slug %}"
                                ><i class="fas fa-minus mr-2"></i
                            ></a>
                            {{ order_item.quantity }}
                            <a
                                href="{% url 'core:add-to-cart' order_item.item.slug %}"
                                ><i class="fas fa-plus ml-2"></i
                            ></a>
                        </td>
                        <td>${{ order_item.get_total_item_price }}</td>
                        <td>
                            {{ bidder_username }}
                            <a
                                style="color: red"
                                href="{% url 'core:remove-from-cart' order_item.item.slug %}"
                            >
                                <i class="fas fa-trash float-right"></i>
                            </a>
                        </td>
                        >
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">Find your bidder</td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a class="btn btn-primary float-right" href="/"
                                >go back</a
                            >
                        </td>
                    </tr>
                    {% endfor %} {% if object.coupon %}
                    <tr>
                        <td colspan="4"><b>Coupon</b></td>
                        <td><b>-${{ object.coupon.amount }}</b></td>
                    </tr>
                    {% endif %} {% if object.get_total %}
                    <tr>
                        <td colspan="4"><b>Order Total</b></td>
                        <td><b>${{ object.get_total }}</b></td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <a
                                class="btn btn-warning float-right ml-2"
                                href="/checkout/"
                                >Notice bidder</a
                            >
                            <a class="btn btn-primary float-right" href="/"
                                >Go back</a
                            >
                        </td>
                    </tr>
                    {% endif %}
                </tbody> -->
            </table>
        </div>
    </div>
</main>

{% endblock content %}
