{% extends "base.html" %} {% block content %}
<main class="container mt-5">
    <h2>My Inventory</h2>
    <!--Navbar-->
    <nav
        class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5"
    >
        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#basicExampleNav"
            aria-controls="basicExampleNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'core:my_inventory' %}?system=ALL"
                        >All</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'core:my_inventory' %}?system=IOS"
                        >IOS</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        href="{% url 'core:my_inventory' %}?system=ANDROID"
                        >Android</a
                    >
                </li>
            </ul>
            <!-- Links -->

            <form
                class="form-inline"
                method="get"
                action="{% url 'core:my_inventory' %}"
            >
                <div class="md-form my-0">
                    <input
                        class="form-control mr-sm-2"
                        type="text"
                        name="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                </div>
            </form>
        </div>
        <!-- Collapsible content -->
    </nav>

    <div class="row">
        {% for item in items %}
        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Link to the product detail page -->
                <a href="{{ item.get_absolute_url }}">
                    <img
                        class="card-img-top"
                        src="{{ item.image.url }}"
                        alt="{{ item.title }}"
                    />
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <!-- Another link to the product detail page -->
                        <a href="{{ item.get_absolute_url }}"
                            >{{ item.title }}</a
                        >
                    </h5>
                    <p class="card-text">{{ item.description }}</p>
                    <!-- Additional item details -->
                </div>
            </div>
        </div>
        {% empty %}
        <p>No items in your inventory.</p>
        {% endfor %}
    </div>
</main>
<!-- At the bottom of my_inventory.html -->
<div class="container mt-4 mb-5">
    <a href="{% url 'core:add_phone' %}" class="btn btn-success">
        Add Phone
        <i class="fas fa-plus"></i>
    </a>
</div>
{% endblock %}
